	<ion-view view-title="{{ popular_naats_singles.snippet.title }}" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-popular_naats_singles_singles" class="page-popular_naats_singles_singles">
		
    
<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
<div class="list card">
	<div class="item item-divider" ng-bind-html="popular_naats_singles.snippet.title | to_trusted">{{popular_naats_singles.snippet.title}}</div>
	<div class="item noborder" ng-if="popular_naats_singles.snippet.resourceId.videoId" >
        <div class="embed_container">
            <iframe width="100%" ng-src="{{ 'https://www.youtube.com/embed/' + popular_naats_singles.snippet.resourceId.videoId | trustUrl }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
	<div class="item item-text-wrap noborder to_trusted" ng-bind-html="popular_naats_singles.snippet.description | strHTML"></div>
</div>

    
    
		</ion-content>
		<!-- ./content -->
	</ion-view>
